<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{.PageIntention}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <center>
<p>
    <h1>{{.PageIntention}}</h1>
    <input type="text" name="" value="">
    <br>
    <br>
    <button type="button" class="btn btn-primary">UPLOAD</button>
</p>
  </center>


  </body>
</html>
